<h1>Twitterbot</h1>

<p>
  <strong>Title:</strong>
  <%= @twitbot.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @twitbot.notes %>
</p>

<%= link_to 'Back', twitbots_path %>
<%= link_to 'Edit', edit_twitbot_path %>
